h1{
    text-align: center;
    margin-bottom: 40px;
}

#invoice_date {
    display: flex;    
}

#invoice_date > select{
    flex-basis: 32%;
}

#invoice_date > select:nth-child(2){
    margin: auto 2%;
}


#addDiv{
    padding-left: 0;
}


.description{
    padding-right: 0;
}

.edit-form{
    padding-right: 15px;
}

.edit-form > div > div{
    margin-bottom: 20px;
}

.edit-form > div > div:first-child{
    padding-right: 0;
}

.margin-down{
    margin-bottom: 20px;
}